#banner {
    background-image: url("/img/pattern.png");
    background-repeat: repeat;
    background-size: contain;
    background-color: dodgerblue;
}

#logo {
    height: 100px;
    width: 400px;
    margin-top: 5%;
}

#info {
    color: gray;
}

#autore  {
    color: dodgerblue;
}

thead {
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
}

tbody {
    background-color: lightskyblue;
}

#riga-centrale {
    background-color: white;
}

#consiglio {
    color: gray;
    font-weight: bold;
}