/* Per creare il banner ho applicato il pattern sullo sfondo */
#banner { 
    background-image: url("/img/pattern.png");
    background-repeat: repeat;
    background-size: contain;
    background-color: dodgerblue;
}

#logo {
    height: 100px;
    width: 400px;
    margin-top: 5%;
}

#info {
    color: gray;
}

#fonti {
    font-size: 14px;
}

#autore  {
    color: dodgerblue;
}

.evidenziato {
    background-color: yellow;
}

thead {
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
}

tbody {
    background-color: lightskyblue;
}

#riga-centrale {
    background-color: white;
}

 #consiglio1 {
    color: gray;
    font-weight: bold;
    margin: 10px;
 }
/* Ho creato i consigliati applicando le immagini come sfondo al testo */
 #consiglio2 {
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
    color: white;
    font-weight: bold;
    background-image: url("/img/graph.jpg");
    background-size: cover;
}

#consiglio3 {
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
    color: white;
    font-weight: bold;
    background-image: url("/img/monitor.jpg");
    background-size: cover;
}
